<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testng Cucumber All Tests" verbose="2"  parallel="instances" thread-count="3">
	<parameter name="headless" value="false" /> 
	<parameter name="softassert" value="true" />  
	
  <test name="Run Login Tests">
  <classes>
 	 <class name="com.application.runners.BBOSBaseCucumberRunnerLoginTest"></class>
  </classes>
  </test>
  <test name="Run Search Tests">
  <classes>
 	 <class name="com.application.runners.BBOSBaseCucumberRunnerSearchTest"></class>
  </classes>
  </test>
</suite> <!-- Suite -->
